.info {
  display: flex;
  flex-direction: column;
  width: 408px;
  background: #ffffff;
  box-shadow: 0px 2px 30px rgba(0, 26, 67, 0.05);
  border-radius: 20px;
  padding: 27px 30px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dee7f8;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.content {
  display: flex;
  align-items: center;
}

.avatar {
  width: 63px;
  height: 63px;
  border-radius: 50%;
}

.cap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background: #dcf6ff;

  span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #96afc7;
  }
}

.name {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.secondname {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #262626;
}

.firstname {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #4b5b75;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.block {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #8193af;
  margin-bottom: 8px;
}

.content {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #262626;
}
@media screen and (max-width: 830px) {
  .info {
    box-shadow: 0px 0px 10px rgba(0, 26, 67, 0.1);
    width: 100%;
    padding: 24px;
  }

  .avatar {
    width: 44px;
    height: 44px;
  }

  .name {
    margin-left: 8px;
  }

  .secondname {
    font-size: 14px;
    line-height: 160%;
  }

  .firstname {
    font-size: 14px;
    line-height: 140%;
  }
}
