.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #e3f1ff;
  height: 70px;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 28px;
  margin-top: 14px;
}

.cap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8acfe7;
  width: 114px;
  height: 114px;
  border-radius: 50%;

  img {
    position: absolute;
    bottom: 5px;
    right: 0;
  }
}

.abbreviation {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 140%;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.name {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  color: #262626;
  margin-top: 18px;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding-left: 20px;
}

.item {
  display: flex;
  padding: 16px 0;
  border-top: 1px solid #dee7f8;
  padding-right: 20px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.wrap {
  display: flex;
  align-items: flex-start;
}

.block {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #262626;
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #4b5b75;
  margin: 0;
  margin-top: 6px;
}

.cancel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #f6faff;
  border-radius: 20px;
  padding: 28px 0;
  padding-left: 30px;
  padding-right: 5px;
  width: 100%;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #262626;
  margin-bottom: 14px;
}

.dates {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  gap: 10px;
}

.date {
  display: flex;
  align-items: center;
  border: 1px solid #8acfe7;
  border-radius: 52px;
  padding: 9px 0;
  padding-left: 20px;
  padding-right: 14px;
}

.period {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  color: #4b5b75;
}

.days {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  color: #4b5b75;
  margin-right: 8px;
}

.restore {
  width: 20px;
  height: 20px;
  background-image: url('../../../../../../assets/icons/cancel.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #dee7f8;
  border: none;
  border-radius: 50%;
}

.more {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #7d9dff;
  background: none;
  border: none;
  padding: 0;
}

.logout {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  color: #6d7f9d;
  border: none;
  background: none;
  padding: 0;
  margin-bottom: 4px;
}
