.item {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 160%;
color: #2C4358;
background: #B6EBFE;
border-radius: 52px;
padding: 9px 16px;
margin-right: 8px;
width: max-content;
margin-bottom: 10px;
cursor: pointer;
}