.recording {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.block {
  display: flex;
  align-items: center;
  padding: 38px 45px;
  margin-bottom: 10px;
}

.caption {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 160%;
  color: #262626;
}
