.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.head {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #8acfe7;
  width: 100%;
  margin-bottom: 20px;
}

.shell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 445px;
  margin-bottom: 12px;
}

.daytime {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #8193af;
  text-align: center;
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 468px;
}

.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 15px;
  width: 100%;
}

.caret {
  cursor: pointer;
}

.caret_rotate {
  transform: rotate(180deg);
}

.month {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #4b5b75;

  &::first-letter {
    text-transform: capitalize;
  }
}

.days {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.day {
  display: flex;

  flex: 1;
  min-width: 67px;
  margin-bottom: 11px;
  text-align: center;

  &:nth-child(7n + 7) {
    min-width: 42px;
    max-width: 42px;
  }

  &:nth-last-child(-n + 7) {
    margin-bottom: 0;
  }
}

.day_selected {
  .inner {
    background: #7d9dff;
    color: #ffffff;
  }
}

.inner {
  display: block;
  border-radius: 10px;
  width: 42px;
  height: 42px;
  padding: 10px 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #262626;
  cursor: pointer;
}

.inner_disabled {
  color: #8193af;
}
