.main__content {
    display: flex;
    flex-direction: column;
}
.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 40px;
    max-width: 1210px;
}
.content {
    display: flex;
    max-width: 762px;
    flex-direction: column;
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 12px 50px rgba(0, 26, 67, 0.05);
    border-radius: 20px;
    margin-right: 3%;
}
.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttons__container {
    margin-top: 10px;
}
.buttons {
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 80px;
}

.calendar__container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background: #DEE7F8;
}
.buttons__wrapper {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 23px;
}
.button__pagination {
    width: 169px;
    height: 40px;
    border: 1px solid #8ACFE7;
    border-radius: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    cursor: pointer;
}
.button__prev {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;

}
.button__next {
    background-color: transparent;
    border: none; 
    cursor: pointer;
    display: flex;
    align-items: center;
}
.text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    text-transform: capitalize;
    color: #2C4358;
}
.button__next img {
    transform: rotate(180deg);
}
.button {
    width: 158px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #8ACFE7;
    border-radius: 130px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    color: #2C4358;
    margin-right: 10px;
    cursor: pointer;
    padding: 9px 20px;
}
.button_active {
    background: #C7F1FF;
    border: none;
}
.count {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    color: #96AFC7;
    margin-left: 6px;
}
.hr {
    width: 1px;
    margin: 0 20px 0 10px;
    height: 100%;
    background-color: #DEE7F8;
    border: none;
}
.button__filter {
    display: none;
}
.error__handler {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #EF6F86;
    margin-top: 14px;
}

@media (max-width: 829px) {
    .container {
        display: flex;
        width: 100%;
    }
    .text__container {
        padding: 20px;
    }
    .title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: #262626;
        margin: 0;
        margin-bottom: 8px;
    }
    .text__wrap {
        position: relative;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        color: #4B5B75;
        padding-left: 24px;
        margin: 0;
    }
    .dot {
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #3FC311;
        border-radius: 50%;
        top: 8px;
        left: 8px;
    }
    .content {
        width: 100%;
        box-shadow: none;
        padding: 0;
        border-radius: 0;
        background-color: transparent;
        margin-right: 0;
    }
    .buttons__container {
        margin-bottom: 20px;
        width: 100%;
    }
    .calendar__container {
        column-gap: 0px;
        border-top: 1px solid #DEE7F8;
    }
    .buttons__filter_container {
        display: none;
      }
    .button__filter {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 62px;
        height: 45px;
        border: none;
        background: #DCF6FF;
        border-radius: 130px;
        position: relative;
    }
    .button__filter_active {
        width: 14px;
        height: 14px;
        background-color: #7D9DFF;
        border-radius: 50%;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .buttons__wrapper {
        justify-content: space-between;
        padding: 0 20px;
      }
    .main__content {
        display: none;
        margin-top: 20px;
    }
    .reference__mobile {
        display: flex;
    }
    .buttons {
        padding-bottom: 0;
    }
    .sidebar_mobile {
        padding: 0 20px;
    }  
    .button_mob {
        margin-bottom: 80px;
    }
    .error__handler {
        margin-bottom: 20px;
    }
}

