.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 1px solid #dee7f8;
  margin-bottom: 20px;
}

.back {
  padding: 0;
  background: none;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.wrap {
  display: flex;
  align-items: center;
}

.avatar {
  position: relative;
  display: flex;
}

.image {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: block;
}

.icon {
  position: absolute;
  right: 0;
  bottom: -3px;
  background: #2ad99c;
  border: 2px solid #ffffff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.data {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}

.name {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #7d9dff;
}

.status {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #96afc7;
}

.icons {
  display: flex;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;

  &:hover {
    background: #f6faff;
  }
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.block {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;

  span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #262626;
  }
}

.date {
  display: flex;
  align-items: center;
  gap: 3px;

  span {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 140%;
    color: #96afc7;
  }
}

.message {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #2c4358;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.previous {
  display: flex;
  align-items: flex-start;
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  margin-left: 10px;
  height: 45px;
  padding: 10px 16px;
  background: #ffffff;
  border: 2px solid #dee7f8;
  border-radius: 12px;

  &::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #96afc7;
  }
}
