.chat {
  position: relative;
  background: #dcf6ff;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count {
  position: absolute;
  top: -4px;
  right: 2px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 160%;
  text-align: center;
  color: #ffffff;
  background: #ef6f86;
  border-radius: 50px;
  height: 17px;
  width: 17px;
}
