.item {
    background: #F6FAFF;
    border-radius: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #2C4358;
    margin-right: 10px;
    margin-bottom: 14px;
    padding: 2px 14px;
}