.fieldset {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin-right: 20px;
  height: 100%;
}
.label {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #262626;
  margin-bottom: 20px;
}
.textarea {
  border: 2px solid #dee7f8;
  box-sizing: border-box;
  border-radius: 14px;
  resize: none;
  height: 100%;
  margin-bottom: 20px;
  padding: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}
.error {
  margin-bottom: 20px;
  color: #ef6f86;
}
