.price {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #262626;
}
.span {
    font-family: Roboto;
    font-style: normal;
    margin-right: 6px;
    }