.months {
  display: flex;
  flex-direction: column;
  width: 445px;
  height: 100%;
}

.month {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.may {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #4b5b75;
  margin-bottom: 20px;

  &::first-letter {
    text-transform: capitalize;
  }
}

.days {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.day {
  display: flex;
  flex: 1;
  min-width: 67px;
  cursor: pointer;
  margin-bottom: 11px;
  text-align: center;

  &:nth-child(7n + 1) {
    border-radius: 10px 0 0 10px;
  }

  &:nth-child(7n + 7) {
    min-width: 42px;
    max-width: 42px;
    border-radius: 0 10px 10px 0;
  }

  &:nth-last-child(-n + 7) {
    margin-bottom: 0;
  }
}

.day_first {
  background: #dcf6ff;
}

.day_select {
  background: #dcf6ff;
}

.day_last {
  background: #dcf6ff;
  position: relative;

  .inner {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: '';
    width: 30px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ffffff;
  }
}

.inner {
  display: block;
  width: 42px;
  height: 42px;
  padding: 10px 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #262626;
}

.inner_active {
  color: #ffffff;
  background: #7d9dff;
  border-radius: 10px;
}

.inner_inactive {
  color: #8193af;
}
