.item {
  background: #f6faff;
  border-radius: 50px;
  padding: 2px 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #2c4358;
  text-align: center;
}
