.reference__title {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    color: #262626;
    margin: 0;
    margin-bottom: 8px;
}
.reference__items {
    display: flex;
    flex-wrap: wrap;
}
