.visit {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid #dee7f8;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 24px;
  margin-bottom: 40px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dee7f8;
}

.wrap {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.name {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.secondname {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #7d9dff;
}

.firstname {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #4b5b75;
}

.block {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  &:nth-child(2) {
    margin-bottom: 20px;
  }
}

.label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #8193af;
  margin-bottom: 6px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #262626;
  max-width: 210px;
}

.link {
  width: 38px;
  height: 38px;
  background: #f6faff;
  border-radius: 50%;
  border: none;
  background-image: url('../../../../../../../../assets/icons/arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.conclusion {
  display: flex;
  align-items: center;
}

.icon {
  background: #ef6f86;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.warning {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  color: #ef6f86;
  margin-left: 8px;
}

.notification {
  position: absolute;
  bottom: -12px;
  right: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 160%;
  color: #ffffff;
  background: #fa8080;
  border-radius: 50px;
  padding: 3px 10px;
}
