.info {
  display: flex;
  flex-direction: column;
  padding: 31px 45px;
}

.doctor {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.cap {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8acfe7;
  cursor: pointer;

  &:hover {
    background-image: url('../../../../../../../../assets/icons/hover.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.abbreviation {
  font-style: normal;
  font-weight: 600;
  font-size: 21.3333px;
  line-height: 140%;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 16px;
}

.firstname {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 160%;
  color: #262626;
}

.logout {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #6d7f9d;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #262626;
  margin-bottom: 20px;
}

.label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #4b5b75;
  margin-bottom: 8px;
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input {
  background: #f6faff;
  border-radius: 12px;
  width: 320px;
  padding: 10px 16px;
  border: none;
  margin-right: 8px;
  height: 45px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #262626;

  &:disabled {
    color: #96afc7;
  }
}

.edit {
  border: 1px solid #dee7f8;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url('../../../../../../../../assets/icons/edit.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.container {
  display: flex;
  background: #f6faff;
  border-radius: 20px;
  padding: 28px 30px;
}

.container_mod {
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #dee7f8;
  backdrop-filter: blur(20px);
}

.block {
  display: flex;
  flex-direction: column;
}

.caption {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #262626;
  margin-bottom: 10px;
}

.cancel {
  display: flex;
  flex-direction: column;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #4b5b75;
  margin: 0;
  margin-bottom: 20px;
  max-width: 339px;
}

.choose {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  color: #262626;
  border: 1px solid #7d9dff;
  border-radius: 52px;
  background: none;
  width: 249px;
  text-align: center;
  padding: 11px 0;
  cursor: pointer;
}

.canceled {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.visit {
  display: flex;
  align-items: center;
  border: 1px solid #8acfe7;
  border-radius: 52px;
  padding: 9px 14px 9px 20px;
}

.date {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  color: #4b5b75;
}

.days {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  color: #4b5b75;
  margin-right: 8px;
}

.back {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #dee7f8;
  background-image: url('../../../../../../../../assets/icons/cancel.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.more {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #7d9dff;
  background: none;
  border: none;
  cursor: pointer;
}

.confirm {
  display: flex;
  flex-direction: column;
}

.day {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #2c4358;
  margin-bottom: 18px;
}

.wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.yep {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  color: #ffffff;
  background: #7d9dff;
  border: 1px solid #7d9dff;
  border-radius: 52px;
  padding: 11px 0;
  width: 230px;
  text-align: center;
  cursor: pointer;
}

.nope {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #7d9dff;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
